<html>

<body>
  <div class="login-container">
    <h1 class="app-title">Online Quiz</h1>

    <div class="login-form">
      <h2>Login</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required placeholder=" Enter your email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required placeholder=" Enter your password">
        </div>

        <button type="submit" class="btn login-btn">Login</button>
      </form>

      <div class="auth-redirect">
        <p>Don't have an account? <a routerLink="/signup">Register</a></p>
      </div>
    </div>
  </div>
</body>

</html>